# Practice Problems â€“ List Methods in Python

## 1. Grocery List Manager

Create a grocery list and perform the following:

Add a new item to the end of the list.

Insert "Milk" at the second position.

Remove "Sugar" from the list.

Print the total number of items.

Sort the list alphabetically.

In [25]:
# create grocery list
grocery_items = ['Apples', 'Bananas', 'Sugar', 'Eggs', 'Bread', 'Chicken', 'Rice', 'Tomatoes', 'Potatoes', 'Cheese']

In [26]:
# add new item
grocery_items.append('Onions')
grocery_items

['Apples',
 'Bananas',
 'Sugar',
 'Eggs',
 'Bread',
 'Chicken',
 'Rice',
 'Tomatoes',
 'Potatoes',
 'Cheese',
 'Onions']

In [27]:
# insert 'Milk' At second position
grocery_items.insert(2,'Milk')
grocery_items

['Apples',
 'Bananas',
 'Milk',
 'Sugar',
 'Eggs',
 'Bread',
 'Chicken',
 'Rice',
 'Tomatoes',
 'Potatoes',
 'Cheese',
 'Onions']

In [28]:
# remove sugar from the list
grocery_items.remove('Sugar')
grocery_items

['Apples',
 'Bananas',
 'Milk',
 'Eggs',
 'Bread',
 'Chicken',
 'Rice',
 'Tomatoes',
 'Potatoes',
 'Cheese',
 'Onions']

In [29]:
# print total number of items
print('Total items: ', len(grocery_items))

Total items:  11

In [30]:
# sort list alphabetically
grocery_items.sort()
grocery_items

['Apples',
 'Bananas',
 'Bread',
 'Cheese',
 'Chicken',
 'Eggs',
 'Milk',
 'Onions',
 'Potatoes',
 'Rice',
 'Tomatoes']

## 2. Student Grades

You have a list of student grades: [72, 85, 90, 78, 65, 90, 72]

Find how many times the grade 90 appears.

Find the index of the first occurrence of 72.

Remove the lowest grade from the list.

Add a new grade 88 at the end.

Sort the list in descending order.

In [31]:
student_grades = [72, 85, 90, 78, 65, 90, 72]

In [32]:
# how many times 90 appears
student_grades.count(90)

2

In [33]:
# index of first occurance of 72
student_grades.index(72)

0

In [34]:
print(student_grades)

# remove lowest grade from list
student_grades.remove(min(student_grades))

print(student_grades)

[72, 85, 90, 78, 65, 90, 72]
[72, 85, 90, 78, 90, 72]

In [35]:
# add new grade 88 at end
student_grades.append(88)
student_grades

[72, 85, 90, 78, 90, 72, 88]

In [36]:
# sort list in descending order
student_grades.sort(reverse=True)
student_grades

[90, 90, 88, 85, 78, 72, 72]

## 3. Movie Titles Organizer

Maintain a list of your favorite movies.

Add a few movies to the list using append() and insert().

Remove a movie you no longer like using remove().

Reverse the list to see your movies in reverse order.

Sort the movies alphabetically.

In [37]:
movies_list = ['The Shawshank Redemption', 'The Godfather', 'Inception', 'Pulp Fiction', 'The Dark Knight', 'Fight Club', 'Forrest Gump', 'The Matrix', 'Interstellar', 'Parasite']

In [ ]:
# insert new movies using append and insert
movies_list.append('The Social Network')
movies_list.insert(3, 'Whiplash')
movies_list

['The Shawshank Redemption',
 'The Godfather',
 'Inception',
 'Whiplash',
 'Pulp Fiction',
 'The Dark Knight',
 'Fight Club',
 'Forrest Gump',
 'The Matrix',
 'Interstellar',
 'Parasite',
 'The Social Network']

In [39]:
# remove a movie 
movies_list.remove('Inception')
movies_list

['The Shawshank Redemption',
 'The Godfather',
 'Whiplash',
 'Pulp Fiction',
 'The Dark Knight',
 'Fight Club',
 'Forrest Gump',
 'The Matrix',
 'Interstellar',
 'Parasite',
 'The Social Network']

In [40]:
# reverse the list
movies_list.reverse()
movies_list

['The Social Network',
 'Parasite',
 'Interstellar',
 'The Matrix',
 'Forrest Gump',
 'Fight Club',
 'The Dark Knight',
 'Pulp Fiction',
 'Whiplash',
 'The Godfather',
 'The Shawshank Redemption']

In [41]:
# sort movies alphabetically
movies_list.sort()
movies_list

['Fight Club',
 'Forrest Gump',
 'Interstellar',
 'Parasite',
 'Pulp Fiction',
 'The Dark Knight',
 'The Godfather',
 'The Matrix',
 'The Shawshank Redemption',
 'The Social Network',
 'Whiplash']

## 4. Inventory System
Start with a list: ['pen', 'pencil', 'notebook']

Add items: 'eraser', 'sharpener' using extend().

Remove the last item using pop().

Replace the item at index 1 with 'marker'.

Count how many times 'pen' app