# Practice Exercises on Accessing List Items

## 1. Extract Specific Items

Given a list of months:

months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

Print the first and last month.

Print the second quarter months (Apr, May, Jun).

Get the last 3 months using negative indexing.

In [1]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [2]:
# print first and last month
months[0::len(months)-1]

['Jan', 'Dec']

In [3]:
# print second quarter months [Apr, May, Jun]
months[3:6]

['Apr', 'May', 'Jun']

In [4]:
# last 3 months using neg index
months[-3:]

['Oct', 'Nov', 'Dec']

## 2. Get Middle Value(s)

Given a list of odd or even length:

If the list has an odd number of elements, return the middle one.

If even, return the two middle elements.

Test with:

odd_list = [10, 20, 30, 40, 50]

even_list = [1, 2, 3, 4, 5, 6]

In [5]:
odd_list = [10, 20, 30, 40, 50, 60, 70]
even_list = [0, 1, 2, 3, 6, 7, 8, 9]

# odd list
mid_of_odd = len(odd_list)//2
print(f'Mid of Odd List: {odd_list[mid_of_odd]}')

# even list
mid_of_even = len(even_list)//2
print(f'Mid of Even List: {even_list[mid_of_even-1:mid_of_even+1]}')

Mid of Odd List: 40
Mid of Even List: [3, 6]

## 3. Access Nested List Items

Given:

data = [101, [202, 303], [404, [505, 606]]]

Access 303 and 606.

In [3]:
data = [101, [202, 303], [404, [505, 606]]]
print(data[-2][-1])
print(data[-1][-1][-1])
# or
print(data[1][-1])
print(data[2][-1][-1])

303
606
303
606

## 4. Extract Items Based on Pattern

Given a list of temperature readings:

temps = [23, 25, 24, 22, 26, 24, 27, 28]

Print every other temperature.

Reverse the list.

Print only the middle 4 values.

In [7]:
temps = [23, 25, 24, 22, 26, 24, 27, 28]

In [8]:
# print every other temperature
temps[::2]

[23, 24, 26, 27]

In [9]:
# reverse the list
temps[::-1]

[28, 27, 24, 26, 22, 24, 25, 23]

In [10]:
# print only 4 middle values
# print(len(temps)) # 8, even
mid_of_temps_even = len(temps)//2
print(temps[mid_of_temps_even-2:mid_of_temps_even+2]) # valid for all even lengths

[24, 22, 26, 24]

In [11]:
# another example
temps_new = [23, 25, 24, 22, 26, 24, 27, 28, 29, 33, 34, 30]
mid_of_temps_even = len(temps_new)//2
print(temps_new[mid_of_temps_even-2:mid_of_temps_even+2]) # valid for all even lengths

[26, 24, 27, 28]

## 5. Student Marks Dashboard

students = ["Ali", "Sara", "Ahmed", "Ayesha"]

marks = [88, 76, 91, 84]

Print the student with the highest marks.

Print the names of students who scored more than 80.

Show the name and marks of the last student in the list.

In [12]:
students = ["Ali", "Sara", "Ahmed", "Ayesha"]
marks = [88, 76, 91, 84]

# # zip lists togather
# dashboard = list(zip(students, marks))

In [13]:
# student with highest marks
# assuming that student and their marks have same index in different lists
index_of_heighest_marks = marks.index(max(marks))
index_of_heighest_marks_student = index_of_heighest_marks

# print results
print(students[index_of_heighest_marks_student], marks[index_of_heighest_marks])

Ahmed 91

In [14]:
# name of students who scored more than 80
# assuming that student and their marks have same index in different lists
marks_more_than_80 = [marks.index(mark) for mark in marks if mark > 80]

# loop to print all students
print(f'Students with marks more than 80:')

#zip lists togather
for student, mark in zip(students, marks):
    if students.index(student) in marks_more_than_80:
        print(student, mark)

Students with marks more than 80:
Ali 88
Ahmed 91
Ayesha 84

## 6. Daily Task Scheduler

schedule = ["Fajr", "Breakfast", "Work", "Lunch", "Meeting", "Study", "Isha", "Sleep"]

Show the morning routine (before lunch).

Show the evening routine (after 5th task).

Reverse the entire schedule.

In [15]:
schedule = ["Fajr", "Breakfast", "Work", "Lunch", "Meeting", "Study", "Isha", "Sleep"]

In [16]:
# morning routine, before lunch
morning_routine = [task for task in schedule if schedule.index(task)< schedule.index('Lunch')]
print('Morning Routine: ', morning_routine)

Morning Routine:  ['Fajr', 'Breakfast', 'Work']

In [17]:
# evening routine, after task 5
evening_routine = [task for task in schedule if schedule.index(task)> 4]
print('Evening Routine: ', evening_routine)

Evening Routine:  ['Study', 'Isha', 'Sleep']

## 7. Random Access Challenge

Given:

elements = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

Access every 3rd item starting from index 1.

Access items from index 2 to 5 in reverse order.

In [18]:
elements = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [19]:
# every third item starting from index 1
elements[1::3]

['b', 'e']

In [20]:
# index 2 - 5 in reverse
elements[5:1:-1]

['f', 'e', 'd', 'c']