# Practice Problems: Change List Items

## Problem 1: Update City Name

You are maintaining a list of city names:

cities = ["Lahore", "Karachi", "Islamabad", "Peshawar", "Multan"]

Replace "Multan" with "Quetta".

Change the second city to "Hyderabad".

In [1]:
cities = ["Lahore", "Karachi", "Islamabad", "Peshawar", "Multan"]

In [10]:
# replace 'Multan' with 'Quetta'
index = 0
for city in cities:
    if cities[index] == 'Multan':
        cities[index] = 'Quetta'
    index+=1
cities

['Lahore', 'Karachi', 'Islamabad', 'Peshawar', 'Quetta']

In [11]:
# change second city to 'Hyderabad'
cities[1] = 'Hyderabad'
cities

['Lahore', 'Hyderabad', 'Islamabad', 'Peshawar', 'Quetta']

# Problem 2: Update Scores

You are storing test scores in a list:

scores = [45, 67, 89, 33, 55]

Increase the first score by 10.

Change the last score to the average of all scores.

In [12]:
scores = [45, 67, 89, 33, 55]

In [13]:
# increase first score by 10
scores[0] = scores[0]+10
scores

[55, 67, 89, 33, 55]

In [15]:
# change last score to avg of all scores
avg = sum(scores)/len(scores)
scores[-1] = avg
scores

[55, 67, 89, 33, 78.7]

## Problem 3: Fix Calendar Days

You have a list of days, but some are incorrect:

days = ["Monday", "Tuesday", "Funday", "Thursay", "Friday"]

Replace "Funday" with "Wednesday".

Fix the spelling of "Thursay".

In [16]:
days = ["Monday", "Tuesday", "Funday", "Thursay", "Friday"]

In [17]:
# replace 'Funday' with 'Wednesday'
index = 0
for day in days:
    if days[index] == 'Funday':
        days[index] = 'Wednesday'
    index += 1
days

['Monday', 'Tuesday', 'Wednesday', 'Thursay', 'Friday']

In [19]:
# fix spelling of 'Thursday'
# assuming the days a in correct order starting from monday
days[3] = 'Thursday'
days

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

## Problem 4: Shopping List Corrections

You are working with a grocery list:

grocery = ["milk", "eggs", "bread", "butter", "apple"]

Replace "apple" with "apples".

Replace "bread" and "butter" with "cheese" and "jam" using slicing.

In [20]:
grocery = ["milk", "eggs", "bread", "butter", "apple"]

In [21]:
# replace apple with apples
index = 0
for item in grocery:
    if grocery[index] == 'apple':
        grocery[index] = 'apples'
    index += 1

grocery

['milk', 'eggs', 'bread', 'butter', 'apples']

In [22]:
# replace bread and butter with cheese and jam

grocery[2:4] = ['cheese', 'jam']
grocery

['milk', 'eggs', 'cheese', 'jam', 'apples']

## Problem 5: Replace Even Numbers with 0

You have a list of numbers:

nums = [3, 4, 7, 10, 15, 20]

Replace all even numbers with 0 by accessing their indices.

In [23]:
nums = [3, 4, 7, 10, 15, 20]

In [25]:
# replace even numbers with zero
index = 0
for num in nums:
    if nums[index]%2 == 0:
        nums[index] = 0
    index += 1

nums

[3, 0, 7, 0, 15, 0]